.formulario {
  background-color: #0c2d53;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 480px;
}

/* Campos de texto */
.formulario .campo:focus {
  border-color: #83cef7;
  box-shadow: none;
  outline: none;
}

.formulario ::placeholder {
  color: #aaaaaa !important;
}


.formulario .icono {
  background-color: red;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #12053c ;
  cursor: pointer;
}


.formulario .terminos {
  color: #ffffff;
  text-decoration: none;
}


.formulario .boton-enviar {
  background: linear-gradient(135deg, #3471ff, #56a4f2);
  /* border: none; */
  /* font-weight: bold; */
  /* transition: all 0.3s ease; */
  /* color: #fff; */
}

.formulario .boton-enviar:hover {
  background: linear-gradient(135deg, #56a4f2, #3471ff);
}

