@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  color: whitesmoke;
}
body {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #07233b, #050e17);
}
